<a href="https://colab.research.google.com/github/AprendaPracticando/AnaliticaPythonR1/blob/main/LAB_04_03_CargaCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **LAB 04.03: Cargar datos a un DataFrame desde un archivo CSV en GitHub**

En este Lab se revisa el código requerido para cargar datos, desde un ar-chivo CSV alojado en GitHub, y cargar los datos en un DataFrame de pan-das.
Las tareas por realizar son:
1.	Cargar datos desde un archivo CSV disponible en GitHub.
2.	Revisar la forma de un conjunto de datos usando shape.
3.	Analizar si la forma del DataFrame es apropiada.

## Cargar datos desde un archivo CSV disponible en GitHub.

In [2]:
# Se importa la librería pandas, para el manejo de datos.
# Se le asigna el alias "pd", que es el estándar de
# codificación de la comunidad.

import pandas as pd

# Como los datos están en GitHub, en lugar del nombre de
# archivo se utiliza la URL para acceso raw a los datos,
# que es lo mismo que leer un archivo que tenemos físicamente
# en nuestro equipo.
# Se declara una variable para almacenar la URL.

pasajeros_titanic_csv='https://raw.githubusercontent.com/AprendaPracticando/AnaliticaPythonR1/main/data/pasajeros_titanic.csv'

# Se cargan los datos del archivo "pasajeros_titanic.csv" a un
# DataFrame de pandas llamado "titanic", usando la función
# pd.read_csv(), usando como nombre de archivo la variable
# que almacena la URL para acceder a los datos.

titanic = pd.read_csv(pasajeros_titanic_csv)

## Visualización de datos de un DataFrame

In [3]:
# Ver los datos del DataFrame
titanic

,clase_viaje,sobrevivencia,nombre,sexo,edad,parientes,familiares,boleto,tarifa,cabina,embarque,bote,cuerpo,residencias
0,1.0,0.0,"Andrews, Mr. Thomas Jr",hombre,39.0,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
1,1.0,0.0,"Chisholm, Mr. Roderick Robert Crispin",hombre,NaN,0,0,112051,0.0000,NaN,S,NaN,NaN,"Liverpool, England / Belfast"
2,1.0,0.0,"Fry, Mr. Richard",hombre,NaN,0,0,112058,0.0000,B102,S,NaN,NaN,NaN
3,1.0,0.0,"Harrison, Mr. William",hombre,40.0,0,0,112059,0.0000,B94,S,NaN,110.0,NaN
4,1.0,1.0,"Ismay, Mr. Joseph Bruce",hombre,49.0,0,0,112058,0.0000,B52 B54 B56,S,C,NaN,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1305,3.0,0.0,"Sage, Mrs. John (Annie Bullen)",mujer,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1306,3.0,0.0,"Storey, Mr. Thomas",hombre,60.5,0,0,3701,NaN,NaN,S,NaN,261.0,NaN
1307,NaN,0.0,"Baumann, Mr. John D",hombre,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
1308,NaN,NaN,"Blackwell, Mr. Stephen Weart",hombre,NaN,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
1309,NaN,0.0,"Baxter, Mr. Quigg Edmond",hombre,24.0,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"

In [4]:
# Ver las primeras filas del DataFrame
titanic.head()

,clase_viaje,sobrevivencia,nombre,sexo,edad,parientes,familiares,boleto,tarifa,cabina,embarque,bote,cuerpo,residencias
0,1.0,0.0,"Andrews, Mr. Thomas Jr",hombre,39.0,0,0,112050,0.0,A36,S,NaN,NaN,"Belfast, NI"
1,1.0,0.0,"Chisholm, Mr. Roderick Robert Crispin",hombre,NaN,0,0,112051,0.0,NaN,S,NaN,NaN,"Liverpool, England / Belfast"
2,1.0,0.0,"Fry, Mr. Richard",hombre,NaN,0,0,112058,0.0,B102,S,NaN,NaN,NaN
3,1.0,0.0,"Harrison, Mr. William",hombre,40.0,0,0,112059,0.0,B94,S,NaN,110.0,NaN
4,1.0,1.0,"Ismay, Mr. Joseph Bruce",hombre,49.0,0,0,112058,0.0,B52 B54 B56,S,C,NaN,Liverpool

In [5]:
# Ver las primeras 10 filas del DataFrame
titanic.head(10)

,clase_viaje,sobrevivencia,nombre,sexo,edad,parientes,familiares,boleto,tarifa,cabina,embarque,bote,cuerpo,residencias
0,1.0,0.0,"Andrews, Mr. Thomas Jr",hombre,39.0,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
1,1.0,0.0,"Chisholm, Mr. Roderick Robert Crispin",hombre,NaN,0,0,112051,0.0000,NaN,S,NaN,NaN,"Liverpool, England / Belfast"
2,1.0,0.0,"Fry, Mr. Richard",hombre,NaN,0,0,112058,0.0000,B102,S,NaN,NaN,NaN
3,1.0,0.0,"Harrison, Mr. William",hombre,40.0,0,0,112059,0.0000,B94,S,NaN,110.0,NaN
4,1.0,1.0,"Ismay, Mr. Joseph Bruce",hombre,49.0,0,0,112058,0.0000,B52 B54 B56,S,C,NaN,Liverpool
5,1.0,0.0,"Parr, Mr. William Henry Marsh",hombre,NaN,0,0,112052,0.0000,NaN,S,NaN,NaN,Belfast
6,1.0,0.0,"Reuchlin, Jonkheer. John George",hombre,38.0,0,0,19972,0.0000,NaN,S,NaN,NaN,"Rotterdam, Netherlands"
7,1.0,0.0,"Carlsson, Mr. Frans Olof",hombre,33.0,0,0,695,5.0000,B51 B53 B55,S,NaN,NaN,"New York, NY"
8,1.0,0.0,"Colley, Mr. Edward Pomeroy",hombre,47.0,0,0,5727,25.5875,E58,S,NaN,NaN,"Victoria, BC"
9,1.0,1.0,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",mujer,55.0,2,0,11770,25.7000,C101,S,2,NaN,"New York, NY"

In [6]:
# Ver las últimas filas del DataFrame
titanic.tail()

,clase_viaje,sobrevivencia,nombre,sexo,edad,parientes,familiares,boleto,tarifa,cabina,embarque,bote,cuerpo,residencias
1305,3.0,0.0,"Sage, Mrs. John (Annie Bullen)",mujer,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
1306,3.0,0.0,"Storey, Mr. Thomas",hombre,60.5,0,0,3701,NaN,NaN,S,NaN,261.0,NaN
1307,NaN,0.0,"Baumann, Mr. John D",hombre,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
1308,NaN,NaN,"Blackwell, Mr. Stephen Weart",hombre,NaN,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
1309,NaN,0.0,"Baxter, Mr. Quigg Edmond",hombre,24.0,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"

In [7]:
# Ver la lista de columnas, con sus tipos
titanic.dtypes

clase_viaje      float64
sobrevivencia    float64
nombre            object
sexo              object
edad             float64
parientes          int64
familiares         int64
boleto            object
tarifa           float64
cabina            object
embarque          object
bote              object
cuerpo           float64
residencias       object
dtype: object

In [8]:
# Ver la lista de columnas, con tipos, y
# con filas sin nulos
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1310 entries, 0 to 1309
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   clase_viaje    1307 non-null   float64
 1   sobrevivencia  1307 non-null   float64
 2   nombre         1310 non-null   object
 3   sexo           1307 non-null   object
 4   edad           1046 non-null   float64
 5   parientes      1310 non-null   int64
 6   familiares     1310 non-null   int64
 7   boleto         1310 non-null   object
 8   tarifa         1309 non-null   float64
 9   cabina         295 non-null    object
 10  embarque       1308 non-null   object
 11  bote           486 non-null    object
 12  cuerpo         121 non-null    float64
 13  residencias    745 non-null    object
dtypes: float64(5), int64(2), object(7)
memory usage: 143.4+ KB

In [9]:
# Ver la forma del conjunto de datos
titanic.shape

(1310, 14)

In [10]:
# Extrayendo datos de la tupla
filas, columnas = titanic.shape
print(f'El número de filas es {filas:,}')
print(f'El número de columnas es {columnas:,}')

El número de filas es 1,310
El número de columnas es 14

In [11]:
# Ver la longitud del DataFrame
len(titanic)

1310

In [12]:
# Ver el tamaño del conjunto de datos (filas x columnas)
titanic.size

18340